@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #F4F4FB; /* Default background color for light theme */
    --text-color: #475569; /* Default text color for light theme */
}  
  
.app {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.app.dark {
    --bg-color: #111827; /* Background color for dark theme */
    --text-color: #FFFFFF; /* Text color for dark theme */
}

.flip {
    transition: transform 0.5s;
}

.flip-card {
    transform: rotateY(180deg);
}

.flip-card-back {
    transform: rotateY(-180deg);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
